<!--
 ezAR Cordova plugin manifest
 ezartech.com
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	  xmlns:android="http://schemas.android.com/apk/res/android"
	  id="com.ezartech.ezar.snapshot"
	  version="0.2.5">
	  
	<name>ezAR Snapshot</name>
	<description>Capture an image in JPG or PNG format of the application UI and optionally save it to 
	             the device image gallery. Works with ezAR to include the camera preview background
				 of the webview.  
	</description>
	<keywords>snapshot, screenshot</keywords>
	<license>modified MIT License, see http://ezartech.com/ezarstartupkit-license</license>

	<!-- web api -->
	<js-module src="www/snapshot.js" name="snapshot">
		<merges target="ezar" />
	</js-module>
	
	
	<!-- ios -->
	<platform name="ios">
		
		<config-file target="config.xml" parent="/*">
			<feature name="snapshot">
				<param name="ios-package" value="CDVezARSnapshot"/>
			</feature>
		</config-file>
		
		<header-file src="src/ios/CDVezARSnapshot.h" /> 
		<source-file src="src/ios/CDVezARSnapshot.m" />
		
		<framework src="UIKit.framework" />
		<framework src="Foundation.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="CoreImage.framework" />
		<framework src="CoreVideo.framework" />
        <framework src="AudioToolbox.framework" />
	</platform>

	<!-- android -->
	<platform name="android">
	  <config-file parent="/*" target="res/xml/config.xml">
		 <feature name="snapshot">
			<param name="android-package" value="com.ezartech.ezar.snapshot.Snapshot" />
		 </feature>
	  </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" >
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
			<uses-feature android:name="android.hardware.camera.any" />		
	  </config-file>
	  <source-file src="src/android/Snapshot.java" target-dir="src/com/ezartech/ezar/snapshot" />
      <source-file src="src/android/PermissionHelper.java" target-dir="src/com/ezartech/ezar/snapshot" />
	  <source-file src="src/android/WebviewBitmapProvider.java" target-dir="src/com/ezartech/ezar/snapshot" />
	  <source-file src="src/android/BasicWebviewBitmapProvider.java" target-dir="src/com/ezartech/ezar/snapshot" />
	  <source-file src="src/android/snapshot-xwalk.jar" target-dir="libs" />
	  <!--<framework src="src/android/snapshot-xwalk.jar"  custom="true"  />-->
  </platform>
  
</plugin>